{% extends 'base.html' %}

{% block content %}
<h1>Elenco</h1>
<table>
  <tr>
    <th><b>MediaTitle</b></th>
    <th><b>PersonID</b></th>
    <th><b>Elenco</b></th>
  </tr>
  {% for c in cast %}
  <tr>
    <td><a href="/cast/{{ Media.MediaId }}">{{ Media.Title }}</a></td>
    <td><a href="/cast/{{ c.PersonId }}">{{ c.PersonId }}</a></td>
    <td><a href="/cast/{{ Person.Name }}">{{ Person.Name }}</a></td>
    <td>{{ c.Name }}</td>
    
  </tr>
  {% endfor %}
</table>
{% endblock %}