{% extends 'base.html' %}
{% block content %}
<h1>Disney Plus Database</h1>

<h2>Sobre</h2>
<p>Esta aplicação demonstra o uso do catálogo de filmes e séries da Disney Plus.
  <br>Essa aplicação foi desenvolvida usando:
  <a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a>,
  <a href="https://flask.palletsprojects.com">Flask</a>, and
  <a href="https://jinja.palletsprojects.com">Jinja</a>.
</p>

<h2>Estatísticas da base de dados</h2>
<table>
  <tr>
    <th>Items</th>
    <th>Soma</th>
  </tr>
  <tr>
    <td>Medias</td>
    <td>{{ stats.media }}</td>
  </tr>
  <tr>
    <td>Atores das medias</td>
    <td>{{ stats.cast }}</td>
  </tr>
  <tr>
    <td>Diretores das medias</td>
    <td>{{ stats.director }}</td>
  </tr>
  <tr>
    <td>Gêneros das medias</td>
    <td>{{ stats.genres }}</td>
  </tr>
  <tr>
    <td>País de origem</td>
    <td>{{ stats.country }}</td>
  </tr>
  <tr>
    <td>Tipo das medias</td>
    <td>{{ stats.type }}</td>
  </tr>
</table>

<h2>Funcionalidades</h2>

<h3>Medias</h3>
<p>
  <a href="/medias">Listar tudo</a>
</p>
<p>Mais informações:
  <form name="mid"
    action="javascript:window.open('/medias/'+document.forms['mid'].elements['id'].value,'_self')">
    ID da Media:
    <input placeholder="123" name="id" type="number" min="1" />
    <input type="submit" value="get" />
  </form>
</p>

<p>Buscar por título:
  <form name="msearch"
    action="javascript:window.open('/medias/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" placeholder="Hawkeye" required />
    <input type="submit" value="search" />
  </form>
</p>
<br>
<h3>Elenco</h3>
<p>
  <a href="/cast">Listar todos</a>
</p>
<p>Mais informações:
  <form name="aid"
    action="javascript:window.open('/cast/'+document.forms['aid'].elements['id'].value,'_self')">
    ID do Ator:
    <input placeholder="entre 636 a 4389" name="id" type="number" min="1" />
    <input type="submit" value="get" />
  </form>
</p>

<p>Buscar pelo nome:
  <form name="asearch"
    action="javascript:window.open('/cast/search/'+document.forms['asearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" placeholder="John" required />
    <input type="submit" value="search" />
  </form>
</p>
<br>
<h3>Diretor</h3>
<p>
  <a href="/director">Listar todos</a>
</p>
<p>Mais informações:
  <form name="did"
    action="javascript:window.open('/director/'+document.forms['did'].elements['id'].value,'_self')">
    ID do Diretor:
    <input placeholder="entre 1 a 635" name="id" type="number" min="1" />
    <input type="submit" value="get" />
  </form>
</p>

<p>Buscar pelo nome:
  <form name="dsearch"
    action="javascript:window.open('/director/search/'+document.forms['dsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" placeholder="Liz" required />
    <input type="submit" value="search" />
  </form>
</p>
<br>
<h3>Gêneros</h3>
<p>
  <a href="/genres">Listar tudo</a>
</p>
<p>Mais informações:
  <form name="gid"
    action="javascript:window.open('/genres/'+document.forms['gid'].elements['id'].value,'_self')">
    ID do Gênero:
    <input placeholder="23" name="id" type="number" min="1" />
    <input type="submit" value="get" />
  </form>
</p>

<p>Buscar pelo gênero:
  <form name="asearch" action="/genres/search/" method="get">
    <input name="expr" id="expr" placeholder="Animation" required />
    <input type="submit" value="search" />
  </form>  
</p>
<br>
<h3>País de Origem</h3>
<p>
  <a href="/countries">Listar todos</a>
</p>
<p>Mais informações:
  <form name="cid"
    action="javascript:window.open('/countries/'+document.forms['cid'].elements['id'].value,'_self')">
    ID do País de Origem:
    <input placeholder="40" name="id" type="number"
      min="1" /><input type="submit" value="get" />
  </form>
</p>

<p>Buscar pelo país:
  <form name="csearch" action="/countries/search/" method="get">
    <input name="expr" id="expr" placeholder="United States" required/>
    <input type="submit" value="search" />
  </form>
</p>
<br>
<h3>Tipo de Media</h3>
<p>
  <a href="/types">Listar todos</a>
</p>

{% endblock %}