{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ media.Title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Media info</h2>
  <p><b>ID: </b>{{ media.ID }}</p>
  <p><b>Title: </b>{{ media.Title }}</p>
  <p><b>Type: </b>{{ media.Name }}</p>
  <p><b>Date Added: </b>{{ media.Date_Added }}</p>
  <p><b>Release year: </b>{{ media.Release_year }}</p>
  <p><b>Rating: </b>{{ media.Rating }}</p>
  <p><b>Duration: </b>{{ media.Duration }}</p>
  <p><b>Description: </b>{{ media.Description }}</p>
  <p><b>Genres: </b>
  <ul>
    {% for g in genres %}
    <li>
      <a href="/genres/{{ g.GenreID }}">{{ g.Name }}</a>
    </li>
    {% endfor %}
  </ul></p>
  <p><b>Actors: </b>
  <ul>
    {% for cast in casts %}
    <li>
      <a href="/cast/{{ cast.ID }}">{{ cast.Name }}</a>
    </li>
    {% endfor %}
  </ul></p>
  <p><b>Directors: </b>
  <ul>
    {% for director in directors %}
    <li>
      <a href="/director/{{ director.ID }}">{{ director.Name }}</a>
    </li>
    {% endfor %}
  </ul></p>
  <p><b>Country: </b>
  <ul>
    {% for country in countries %}
    <li>
      <a href="/country/{{ country.ID }}">{{ country.Name }}</a>
    </li>
    {% endfor %}
  </ul></p>
  
{% endblock %}